td, th {
    border: 1px solid black;
    font-weight: bold;
    font-Size: 15px;
    text-align: center;
}

th {
    background-color:  #293a43;
    color: aliceblue;
    font-Size: 15px;
    font-weight: bold;
    text-align: center;
}


.box {
    border: 1px solid rgb(204, 37, 168);
}