.nav-link{
    color: white;
    font-size: 20px;
    font-weight: bold;
  }
  .nav-link .active{
    color: white;
  }
  
  .rm-langdd{
    margin-top:30px;  
    float: right;
   
  }
  
  .banner-container {
   
    align-items: flex-start;
    justify-content: center;
  }
  
  .rm-banner-img {
    height: 130px; 
    margin-top:20px;
  }
  
  .pad0{
   padding: 0px;
  }
  
  .button2 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
  }
  
  .button2:hover {
    background-color: #008CBA;
    color: white;
  }


  .bg-lite {
    background-color: whitesmoke;
  }
  
  p {
    margin-bottom: 2px;
    margin-top: 2px;
  }
  
  .text-green {
    color: lightgreen;
  }
  
  .rm-header {
     
    background-color: white;
  }
  
  .nav-item{
    padding-left: 10px; 
    padding-right: 10px; 
  }
  
  .nav-link{
    color: white;
    font-size: 20px;
    font-weight: bold;
  }
  .nav-link .active{
    color: white;
  }
  
  .rm-langdd{
    margin-top:30px;  
    float: right;
   
  }
  
  .banner-text {
    width: 100%;
    margin-top:15px;
  }
  
  .banner-container {
   
    align-items: flex-start;
    justify-content: center;
  }
  
  .rm-banner-img {
    height: 130px; 
    margin-top:20px;
  }
  
  
  .logout_link {
    color:red;
    cursor: pointer;
  
  }
  
  
  
  .left-nav {
    list-style: none;
    width: 100%; 
     padding-left: 0px;
     padding-right: 0px;
     background-color:#29363d;
    
  }
  
  .popover-body {
    background-color:#29363d !important;
    color: red !important;
    font-size: 10px;
  }
  
  .popover-header {
    color: blue;
    font-size: 15px;
  }
  .popover-content {
    color: red;
    font-size: 10px;
  }
  
  
  .menu-container {
    background-color:#29363d;
  }
  .left-nav li {
    margin-top: 10px; 
     
  }
  .left-nav a{
    color:white;
    text-decoration: none;
    padding-left: 10px;
  }
  
  
  .menu-item {
    width:100%; 
    padding: 5px;
    color:white;
  }
  .menu-item:hover {
    background-color: #e0ac69;
  }
  
  .button-color {
    background-color: #001f3f;
    color:white;
  }
  
  .button-register {
    background-color: #117a8b;
    color:white;
  }
  
  @media(max-width:768px) {
    .layout {
        margin-top:-26px
    }
  
  }
  
  @media(min-width: 768px) {
    .layout {
        margin-top:0px
    }
  }
  
  
  
  @media screen and (max-width: 992px) and (min-width: 768px) {
    .layout {
        margin-top:0px
    }
  }
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  .rm-banner {
    margin-top:20px;
    margin-left: 50px;
  }
  
  
  .left-nav {
    list-style: none;
    width: 100%;
    float: left;
    padding-left: 0px;
    padding-right: 0px;
   
  }
  .left-nav li {
   margin-top: 10px; 
    
  }
  .menu-link{
   color:white;
   text-decoration: none;
   margin-left: 10px;
  }
  
  
  .menu-item {
   padding: 10px;
   font-size:1.1rem;
   border-left: solid 1px #e0ac69;
    
  }
  .menu-item:hover {
   background-color: #e0ac69;
  }
  
  .pl-20 {
  padding-left: 20px;
  }
  
  
  .menu-item.active{
   background-color: #e0ac69;
  }
  
  .pad0{
   padding: 0px;
  }
  
  .button2 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
  }
  
  .button2:hover {
    background-color: #008CBA;
    color: white;
  }